
.contact::before{
    content: '';
    border-top: 3px dotted #6c757d;
    display: block;
}

.section-title.contact-t h2{
    display: inline-block;
    color: #6c757d;
    line-height: inherit;
    padding: 0 0 50px;
    margin: 0 0 70px;
    position: static;
    width: 100%;
    text-align: center;
    
}
.section-title.contact-t h2{
    background-image: url('https://i.ibb.co/1Kk9Y8v/index.png');
    background-repeat:  no-repeat;
    background-position: bottom center;
}
.form-group {
    margin-bottom: 1 rem;
}
.padding {
    padding: 1.7rem 0.75rem !important;
}
.form-label {
    
    font-size: 1.4rem;
    font-family: 'Kiron,Lato', sans-serif;
    font-weight: 300;
}