.copyright-social-icon ul li{
    list-style: none;
    margin-right: 10px;    
}

.copyright-social-icon p{
    font-size: 16px;
    margin-left: 150px;
    line-height: 35px;
    color: #ffffff;
}
.copyright-left p{
    font-size: 15px;
    color: #ffffff;
}
.copyright-social-icons, .facebook, .twitter, .instagram{
    font-size: 20px;
    padding: 0px 3px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: auto;
}
.copyright{
    background-color:#008c99;
    padding: 15px 0 10px;
    align-items: center;
    width: 100%; 
    margin: 0;
}
.copyright-social-icon{
    margin-top: -5px;
    text-align: right;
}

 .copyright {
    background-image: url('https://i.ibb.co/YPgtKJc/footer-bg.jpg');
    background-position: top;
    background-repeat: repeat-x;
    background-color: #008c99;
    background-size: auto 5px;
    clear: both;
    color: #fff;
    float: left;
    margin: 0;
    padding: 15px 0 10px;
    width: 100%;
}